*:focus {
    outline: none !important;
}

body {
    overflow-y: scroll;
}

.gulp-logo {
    background: #fff;
    border: 2px solid #bbb;
    height: 80px;
}

.spanner {
    background: rgba(243, 243, 243, 0.8);
    border-bottom: 2px solid #ddd;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.row-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar {
    margin-top: 20px;
}

.plugin-info {
    margin-top: 150px;
}

.plugin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.plugin .star-icon {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
}

.plugin .description {
    margin-bottom: 20px;
}

.plugin small {
    margin-top: 5px;
}

.plugin .label.pull-right {
    margin-top: 2px;
}

.plugin .npm-install {
    margin-right: 20px;
}

.plugin code {
    position: relative;
    top: -1px;
}

.plugin .npm-input {
    background: none;
    border: none;
    color: inherit;
}